%trans {
    transition: all 200ms ease-in;
}

// ----

.TwoSlidersElm {
    position: relative;
    width: 100%;
    height: 100%;

    pointer-events: all;
    user-select: none;
}
.TwoSlidersElm-not-run {
    .TwoSlidersElm_range-active {
        @extend %trans;
    }

    .TwoSlidersElm_slider {
        @extend %trans;
    }
}

.TwoSlidersElm_range {
    // pos-abs left-0 y-center wh-100 cursor-pointer
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);

    width: 100%;
    height: 100%;

    cursor: pointer;
}

.TwoSlidersElm_range_active {
    // pos-abs h-100per y-center pointer-events-none
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);

    height: 100%;
    pointer-events: none;
}

.TwoSlidersElm_slider {
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
}
